/* Base Elements */
body {
  background-color: rgb(20, 150, 40);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  touch-action: manipulation;
  overflow: hidden;
}
body::-webkit-scrollbar {display: none}
table {margin-left: auto; margin-right: auto}
sub {font-family: Book Antiqua}
sup {font-family: Book Antiqua}
hr {background-color: rgb(100, 100, 100); border: none; height: 2px}
span {color: rgb(150, 150, 150); font-family: "Georgia"; overflow-wrap: break-word}

/* Position */
.ch {position: absolute; left: 50%; transform: translateX(-50%)}
.ch2 {text-align: center}
.cv {position: absolute; top: 50%; transform: translateY(-50%)}
.chv {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)}
.cvh {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)}

/* Text */
.redText {color: rgb(220, 20, 60)}
.orangeText {color: rgb(255, 165, 0)}
.yellowText {color: rgb(222, 222, 0)}
.greenText {color: rgb(150, 200, 50)}
.blueText {color: rgb(50, 50, 250)}
.purpleText {color: rgb(150, 0, 210)}
.goldText {color: rgb(212, 175, 55)}
.whiteText {color: rgb(255, 255, 255)}
.ba {font-family: Book Antiqua}
.top {position: absolute; top: 2px; right: 0px; left: 0px}
.bottom {position: absolute; right: 0px; bottom: 2px; left: 0px}

/* General Display */
.table {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.tableRow {
  display: flex;
  justify-content: center;
}

/* Tooltips */
.tooltip-content {
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  bottom: 110%;
  left: 50%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
}
.tooltip-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: rgb(25, 25, 25) transparent transparent transparent;
}
.tooltip-element:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

/* Cells */
.tile {
  margin: 1px;
  position: relative;
}
.voidCell {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px 5px 5px 1px;
  border-color: rgba(0, 0, 0, 0);
  height: 100px;
  width: 100px;
  position: relative;
}
.blankCell {
  background-color: rgb(222, 222, 222);
  border-radius: 10px;
  border-style: inset outset outset inset;
  border-width: 1px 5px 5px 1px;
  border-color: rgba(240, 240, 240, 0.85);
  height: 100px;
  width: 100px;
  cursor: pointer;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
.layeredCell {
  height: 85px;
  width: 85px;
  position: absolute;
  top: 49%;
  left: 49%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.tArrow {width: 0; height: 0; border-radius: 10px; border-left: 45px solid transparent; border-right: 45px solid transparent; border-bottom: 90px solid rgb(55, 99, 222); margin: 5px; z-index: 2}
.tArrow::after {content: ""; width: 0; height: 0; border-radius: 5px; border-left: 35px solid transparent; border-right: 35px solid transparent; border-bottom: 70px solid rgb(222, 222, 222); position: absolute; top: 20px; left: 15px}
.rArrow {width: 0; height: 0; border-radius: 10px; border-top: 45px solid transparent; border-bottom: 45px solid transparent; border-left: 90px solid rgb(55, 99, 222); margin: 5px; z-index: 2}
.rArrow::after {content: ""; width: 0; height: 0; border-radius: 5px; border-top: 35px solid transparent; border-bottom: 35px solid transparent; border-left: 70px solid rgb(222, 222, 222); position: absolute; top: 15px; left: 12px}
.bArrow {width: 0; height: 0; border-radius: 10px; border-left: 45px solid transparent; border-right: 45px solid transparent; border-top: 90px solid rgb(55, 99, 222); margin: 5px; z-index: 2}
.bArrow::after {content: ""; width: 0; height: 0; border-radius: 5px; border-left: 35px solid transparent; border-right: 35px solid transparent; border-top: 70px solid rgb(222, 222, 222); position: absolute; top: 11px; left: 15px}
.lArrow {width: 0; height: 0; border-radius: 10px; border-top: 45px solid transparent; border-bottom: 45px solid transparent; border-right: 90px solid rgb(55, 99, 222); margin: 5px; z-index: 2}
.lArrow::after {content: ""; width: 0; height: 0; border-radius: 5px; border-top: 35px solid transparent; border-bottom: 35px solid transparent; border-right: 70px solid rgb(222, 222, 222); position: absolute; top: 15px; left: 18px}
.tLayeredArrow {width: 0; height: 0; border-radius: 10px; border-left: 39px solid transparent; border-right: 39px solid transparent; border-bottom: 75px solid rgb(55, 99, 222); margin: 5px; z-index: 2}
.tLayeredArrow::after {content: ""; width: 0; height: 0; border-radius: 5px; border-left: 31px solid transparent; border-right: 31px solid transparent; border-bottom: 59px solid rgb(222, 222, 222); position: absolute; top: 16px; left: 13px}
.rLayeredArrow {width: 0; height: 0; border-radius: 10px; border-top: 39px solid transparent; border-bottom: 39px solid transparent; border-left: 75px solid rgb(55, 99, 222); margin: 5px; z-index: 2}
.rLayeredArrow::after {content: ""; width: 0; height: 0; border-radius: 5px; border-top: 31px solid transparent; border-bottom: 31px solid transparent; border-left: 59px solid rgb(222, 222, 222); position: absolute; top: 13px; left: 10px}
.bLayeredArrow {width: 0; height: 0; border-radius: 10px; border-left: 39px solid transparent; border-right: 39px solid transparent; border-top: 75px solid rgb(55, 99, 222); margin: 5px; z-index: 2}
.bLayeredArrow::after {content: ""; width: 0; height: 0; border-radius: 5px; border-left: 31px solid transparent; border-right: 31px solid transparent; border-top: 59px solid rgb(222, 222, 222); position: absolute; top: 10px; left: 13px}
.lLayeredArrow {width: 0; height: 0; border-radius: 10px; border-top: 39px solid transparent; border-bottom: 39px solid transparent; border-right: 75px solid rgb(55, 99, 222); margin: 5px; z-index: 2}
.lLayeredArrow::after {content: ""; width: 0; height: 0; border-radius: 5px; border-top: 31px solid transparent; border-bottom: 31px solid transparent; border-right: 59px solid rgb(222, 222, 222); position: absolute; top: 13px; left: 16px}
.bomb1 {background-color: rgb(222, 222, 0); border-radius: 100% 0 0 0; border: 0px solid rgb(175, 175, 25); width: 70px; height: 70px; position: absolute; top: 10px; left: 10px; z-index: 2}
.bomb2 {background-color: rgb(222, 222, 0); border-radius: 0 100% 0 0; border: 0px solid rgb(175, 175, 25); width: 70px; height: 70px; position: absolute; top: 10px; left: 20px; z-index: 2}
.bomb3 {background-color: rgb(222, 222, 0); border-radius: 0 0 100% 0; border: 0px solid rgb(175, 175, 25); width: 70px; height: 70px; position: absolute; top: 20px; left: 20px; z-index: 2}
.bomb4 {background-color: rgb(222, 222, 0); border-radius: 0 0 0 100%; border: 0px solid rgb(175, 175, 25); width: 70px; height: 70px; position: absolute; top: 20px; left: 10px; z-index: 2}
.bombLayered1 {background-color: rgb(222, 222, 0); border-radius: 100% 0 0 0; border: 0px solid rgb(175, 175, 25); width: 58px; height: 58px; position: absolute; top: 10px; left: 10px; z-index: 2}
.bombLayered2 {background-color: rgb(222, 222, 0); border-radius: 0 100% 0 0; border: 0px solid rgb(175, 175, 25); width: 58px; height: 58px; position: absolute; top: 10px; left: 20px; z-index: 2}
.bombLayered3 {background-color: rgb(222, 222, 0); border-radius: 0 0 100% 0; border: 0px solid rgb(175, 175, 25); width: 58px; height: 58px; position: absolute; top: 20px; left: 20px; z-index: 2}
.bombLayered4 {background-color: rgb(222, 222, 0); border-radius: 0 0 0 100%; border: 0px solid rgb(175, 175, 25); width: 58px; height: 58px; position: absolute; top: 20px; left: 10px; z-index: 2}
.wheel {
  background-color: rgb(125, 0, 200);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}
.wheel::after {
  content: "";
  background-color: rgb(222, 222, 222);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}

/* Cell Data */
.pip {
  background-color: rgb(222, 222, 222);
  border-radius: 100%;
  border-style: solid;
  border-color: rgb(20, 150, 40) rgb(20, 150, 40) rgb(20, 150, 40) rgba(0, 0, 0, 0);
  border-width: 3px;
  height: 36px;
  width: 36px;
  position: absolute;
  z-index: 3;
  transition: opacity .25s;
}
.tPip {top: -35px; left: 50%; transform: translateX(-50%) rotate(270deg)}
.rPip {right: -37px; top: 50%; transform: translateY(-50%)}
.bPip {bottom: -37px; left: 50%; transform: translateX(-50%) rotate(90deg)}
.lPip {left: -35px; top: 50%; transform: translateY(-50%) rotate(180deg)}
.wheelX {
  position: absolute;
  background-color: rgb(125, 0, 200);
  border-radius: 10px;
  width: 40px;
  height: 5px;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 3;
}
.wheelX::after {
  content: "";
  position: absolute;
  background-color: rgb(125, 0, 200);
  border-radius: 10px;
  width: 40px;
  height: 5px;
  transform: rotate(-90deg);
  z-index: 3;
}
.wheelLine {
  background-color: rgb(125, 0, 200);
  border-width: 0px 1px 1px;
  border-style: none solid none solid;
  border-color: rgb(222, 222, 222);
  border-radius: 10%;
  width: 4px;
  height: 106px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
}
.tWheelLine {bottom: 50%}
.rWheelLine {left: 100%; transform: translateY(-2px) rotate(90deg)}
.bWheelLine {top: 50%}
.lWheelLine {left: 0%; transform: translate(-100%, -3px) rotate(90deg)}
.ttWheelLine {bottom: 160%}
.rrWheelLine {left: 210%; transform: translateY(-2px) rotate(90deg)}
.bbWheelLine {top: 160%}
.llWheelLine {left: -110%; transform: translate(-100%, -3px) rotate(90deg)}